package pages 

import (
	"watchma/pkg/room"
	roomPkg "watchma/pkg/room"
)

templ AiAnnounce(r *roomPkg.Room, strStream []room.DialogueLine) {
	<div id="roomContent">
		for _, str := range strStream {
			<div class="flex gap-4">
				<span class="font-serif text-primary text-2xl">{ str.Character }:</span>
				<span class="font-serif text-text text-2xl">{ str.Dialogue }</span>
			</div>
		}
	</div>
}
