package steps

import (
	"github.com/starfederation/datastar-go/datastar"
	"watchma/pkg/services"
)

templ AiAnnounce(room *services.Room, strStream []string) {
	<section data-init={ datastar.GetSSE("/announce/%s", room.Name) } id="moviesRoom">
		for _, str := range strStream {
			<div class="font-serif">{ str }</div>
		}
	</section>
}
