package common

import "watchma/pkg/types"

templ MovieOfTheDay(movie types.Movie) {
	<div class="text-center">
		<h2 class="text-4xl my-4">Movie of the Day</h2>
		<div class="flex contain-content shadow-hard">
			@MovieTitleImage(movie, MovieTitleImageOptions{Class: "border-primary border-3"})
		</div>
	</div>
}
