package pages 

import (
	"watchma/pkg/movie"
	"watchma/web/views/common"
)

templ Shuffle(movies []movie.Movie) {
	{{
		gridOptions := common.DefaultGridOptions()
		gridOptions.Selectable = false
	}}
	<section class="flex flex-col justify-center items-center mb-6">
		<span class="text-3xl mb-4">Shuffled Movies</span>
		<div id="moviesSubmit" class="flex justify-center flex-wrap gap-2 md:gap-4">
			@common.MovieGrid(movies, movies, gridOptions)
		</div>
	</section>
}
