package host

import "github.com/json-bateman/jellyfin-grabber/view/common"

templ HostPage() {
	@common.Layout("Home page") {
		<section class="text-text flex flex-col items-center justify-center">
			<form>
				<label>Room Name</label>
			</form>
		</section>
	}
}
