package messing 

import "github.com/json-bateman/jellyfin-grabber/view/common"

templ Test() {
	@common.Layout("Host Page") {
		<div>hi</div>
		<div>sup</div>
		<button
			data-on-click="sendMsg('yolo', true)"
			class="btn"
		>
			Send to NATS
		</button>
	}
}
