package view

import "github.com/json-bateman/jellyfin-grabber/view/common"

templ IndexPage(name string) {
	@common.Layout("Index Page") {
		<div class="text-5xl flex text-text font-serif justify-center">Welcome to the Movie Showdown</div>
		<div class="flex justify-center gap-4 my-16">
			<a href="host" class="btn-accent">Host Room</a>
			<a href="join" class="btn-accent">Join Room</a>
		</div>
		<div class="flex justify-center">
			<a href="shuffle/8" class="btn">Shuffle 8</a>
		</div>
	}
}
